body {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #BEADFA, #27077f);
  background-size: 1000%;
  animation: background 1s 0.4s ease forwards;
}

.bg-body-tertiary {
  background-color: transparent !important;
  border: 10px solid black !important;
  border-radius: 10px;
  color: black !important;
}

.card {
  opacity: 0;
  animation: slideUpFade 1s 0.5s ease forwards;
  transition: all 0.2s ease;
}

.card:hover {
  transform: scale(1.4);
}

@keyframes slideUpFade {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes background {
  0% {
    background-size: 1000%;
  }
  100% {
    background-size: 100%;
  }
}