body {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #BEADFA, #27077f);
  background-size: 1000%;
  animation: background 2s 1.5s ease forwards;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
}

.bg-body-tertiary {
  background-color: transparent !important;
  border: 10px solid black !important;
  border-radius: 10px;
  color: black !important;
}

.hoverable {
  transform: scale(1);
  transition: all 0.3s ease;
}

.hoverable:hover {
  transform: scale(1.05);
}

.fade-slide {
  opacity: 0;
  animation: slideUpFade 2s 1.1s ease forwards;
}

@keyframes slideUpFade {
  0% {
    transform: translateY(30px) scale(1);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes background {
  0% {
    background-size: 1000%;
  }
  100% {
    background-size: 100%;
  }
}

.sticker {
  /* position: -webkit-sticky; */
  max-width: 40vw;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.sticker img {
  max-width: 40vw;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-top-left-radius: 7px;
