<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  {{ partial "head.html" . }}
  <body>
    <a href="https://www.uschamber.com" class="sticker">
      <img
        alt="U.S. Chamber of Commerce Member"
        src="https://www.uschamber.com/assets/images/USCC_Webstickers_2022_234x75.png"
        title="U.S. Chamber of Commerce Member"
      />
    </a>
    <div class="container">
      <div class="container-md my-5 header">
        <div class="p-1 text-center rounded-3">
          <img class="w-100" src="/juniel-enterprises.png" alt="" srcset="" />
        </div>
      </div>

      <div class="d-flex flex-column-reverse flex-lg-column">
        <div
          class="d-flex align-items-center justify-content-center w-100 flex-column"
        >
          <div class="fade-slide row w-100 justify-content-center mb-5">
            {{ range .Pages }}
            <div
              class="hoverable card col-sm-3 mx-3 my-3 shadow"
              style="cursor: pointer"
              {{ if isset .Params "link" }}
                onclick="window.location = '{{ .Params.link }}'"
              {{ else }}
                onclick="window.location = '{{ .RelPermalink }}'"
              {{ end }}
            >
              <div class="card-body">
                <h3>{{ .Title }}</h3>
                <p>{{ .Description }}</p>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
        <div
          class="d-flex align-items-center justify-content-center w-100 flex-column mb-5"
        >
          <div class="fade-slide col-lg-10 col-12 container">
            <h2 class="mb-3">Get in Contact</h2>
            <div class="row justify-content-center p-4 card shadow">
              <!-- modify this form HTML and place wherever you want your form -->
              <form
                action="https://formspree.io/f/mayrvdrd"
                method="POST"
              >
                <div class="form-group mb-4">
                  <label>Name:</label>
                  <input class="form-control" type="text" name="name" placeholder="Enter your full name">
                </div>
                <div class="form-group mb-4">
                  <label>Email Address:</label>
                  <input class="form-control" type="email" name="email" placeholder="Enter your email address">
                </div>
                <div class="form-group mb-4">
                  <label>Service:</label>
                  <select class="form-control" name="service">
                    {{ range .Pages }}
                      <option value="{{ .Title }}">{{ .Title }}</option>
                    {{ end }}
                  </select>
                </div>
                <div class="form-group mb-4">
                  <label>Your message:</label>
                  <textarea placeholder="Please describe your needs and let us know your preferred timing for a discussion" class="form-control" name="message" rows="5"></textarea>
                </div>
                <!-- your other form fields go here -->
                <button type="submit" class="btn btn-primary">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
