<div
  class='my-5 rounded overflow-hidden mb-4 shadow-sm h-md-250 d-flex justify-content-between flex-column-reverse {{ if .Get "reversed" }} flex-lg-row-reverse  {{ else }} flex-lg-row {{ end }} bg-light'
>
  <div class="col p-5 d-flex flex-column position-static">
    <h3 class="mb-4">{{ .Get "title" }}</h3>
    <p class="card-text mb-auto">{{ .Get "description" }}</p>
  </div>
  <img
    class="d-block col-12 col-lg-3"
    style="object-fit: cover; height: auto"
    src='{{ .Get "url" }}'
  />
</div>
